body{
    background-color: rgb(155, 95, 95);
}

.pag2a{
    color: rgb(0, 0, 0);
    position: relative;
    border-color: black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}

.vid1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}