body{
    background-color: rgb(128, 82, 82);
}

.pag3a{
    color: rgb(0, 0, 0);
    position: relative;
    border-color: black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}

.vid2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}